<!-- MACROS -->
{% macro modals(id, url, onclick, uid, wotd, romaji, defn, date, example) -%}
  <div class="modal" id="{{ id }}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <form method="POST" action="{{ url }}">
      {{ form.hidden_tag() }}
      <header class="modal-card-head">
        <p class="modal-card-title">Edit Word of the Day</p>
        <button class="delete" type="button" onclick="{{ onclick }}"></button>
      </header>
      <section class="modal-card-body">
        {{ form.uid(type="hidden", value=uid) }}
        <!-- Japenese word -->
        <div class="field">
          <label class="label">Word of the day</label>
          <div class="control">
            {{ form.wotd(class="input", lang="ja-jp", autocomplete="off", value=wotd) }}
          </div>
        </div>
        <!-- Romaji -->
        <div class="field">
          <label class="label">Romaji</label>
          <div class="control">
            {{ form.romaji(class="input", lang="ja-jp", autocomplete="off", value=romaji) }}
          </div>
        </div>
        <!-- Definition -->
        <div class="field">
          <label class="label">Definition</label>
          <div class="control">
            {{ form.defn(class="input", lang="ja-jp", autocomplete="off", value=defn) }}
          </div>
        </div>
        <!-- Category -->
        <div class="field">
          <label class="label">Category</label>
          <div class="select">
            {{ form.classification }}
          </div>
        </div>
        <!-- Date -->
        <div class="field">
          <label class="label">Date</label>
          <div class="control">
            {{ form.date(class="input", type="date", value=date) }}
          </div>
        </div>
        <!-- Examples -->
        <div class="field">
          <label class="label">Examples or Trivia</label>
          <div class="control">
            <textarea class="textarea" id="example" name="example" lang="ja-jp" autocomplete="off">{{ example }}</textarea>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        {{ form.submit(class="button is-success") }}
        <button class="button" type="button" onclick="{{ onclick }}">Cancel</button>
      </footer>
    </form>
  </div>
</div>
{%- endmacro %}


<!-- Edit Modal -->
{{ modals("editModal", url_for('admin_edit'), "toggleEditModal()",
    wotd.uid, wotd.wotd, wotd.romaji, wotd.defn, wotd.date, wotd.example) }}

<!-- Add Modal -->
{{ modals("addModal", url_for('admin_add'), "toggleAddModal()",
    "", "", "", "", wotd.date, "") }}