{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="box has-background-white-bis">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="column">
          <div class="column">{{ form.username.label }}</div>
          <div class="column">
            {{ form.username(class="input") }}
          </div>
          <div class="column">{{ form.password.label }}</div>
          <div class="column">
            {{ form.password(class="input") }}
          </div>
          <div class="column">
            {{ form.submit(class="button") }}
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}a