{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" href="/static/flashcard.css">
  <script>
    function toggleCards() {
      var FRONT = document.getElementById("front")
      var BACK = document.getElementById("back")
      if (FRONT.className === "front") {
        FRONT.className = "fronth"
        BACK.className = "back"
      }
      else {
        FRONT.className = "front"
        BACK.className = "backh"
      }
    }
  </script>
{% endblock %}
{% block content %}
  <section class="section">
    <div class="box has-background-grey-lighter" id="flashcard" onmouseover="toggleCards()" onmouseout="toggleCards()" onclick="toggleCards()">
      <label for="flashcard">
        <section id="front" class="front">
          {{ wotd.wotd }}
        </section>
        <section id="back" class="backh">
          {{ wotd.defn }}
        </section>
      </label>
    </div>
  </section>
{% endblock %}