{% extends "base.html" %}
{% block content %}
<section class="section">
	<div class="container">
		<div class="box has-background-white-bis">
			<div class="column">
				<a class="button" href="/logout">Logout: {{ current_user.username }}</a>
			</div>
			<div class="column has-text-centered">
				<t1 class="title">Change password</t1>
			</div>
			<form method="POST" action="">
				{{ form.hidden_tag() }}
				<div class="column">{{ form.currentpwd.label }}</div>
				<div class="column">
					{{ form.currentpwd(class="input") }}
					{% if form.currentpwd.errors %}
					<ul>
						{% for error in form.currentpwd.errors %}
						<li><span class="has-text-danger">{{ error }}</span></li>
						{% endfor %}
					</ul>
					{% endif %}

				</div>
				<div class="column">{{ form.password.label }}</div>
				<div class="column">
					{{ form.password(class="input") }}
					{% if form.password.errors %}
					<ul>
						{% for error in form.password.errors %}
						<li><span class="has-text-danger">{{ error }}</span></li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
				<div class="column">{{ form.confirm_password.label }}</div>
				<div class="column">
					{{ form.confirm_password(class="input") }}
					{% if form.confirm_password.errors %}
					<ul>
						{% for error in form.confirm_password.errors %}
						<li><span class="has-text-danger">{{ error }}</span></li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
				<div class="column">
					{{ form.submit(class="button") }}
				</div>
			</form>
		</div>
	</div>
</section>
{% endblock %}