{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="container">
    {% if artlen == 0 %}
    <p style="text-align:center">You've reached the end of the road</p>
    {% else %}
    <!-- ADD an entry -->
    <div class="box has-background-grey-lighter">
      <form action="/admin/{{ page }}" method="POST">
        <input type="hidden" name="id" value="nope">
        <div class="columns">
          <div class="column is-4">
            <input class="input is-large" type="text" name="wotd" lang="ja-jp" placeholder="Add word of the day" required autocomplete="off">
          </div>
          <div class="column is-8">
            <input class="input is-large" type="text" name="def" lang="ja-jp" placeholder="Add definition" required autocomplete="off">
          </div>
        </div>
        <div class="columns">
          <div class="column is-2">
            <input class="input is-small" type="date" name="date" lang="ja-jp" value="" required autocomplete="off">
          </div>
          <div class="column is-10 has-text-right">
            <button class="button is-info" type="submit" name="add" value="add">
            <span class="icon is-small"><i class="fas fa-check"></i></span><span>Save</span>
            </button>
          </div>
        </div>
      </form>
    </div>
    <!-- <br> -->
    <!-- DEL or UPDATE an entry -->
    {% for wotd_i in wotd %}
    <div class="box has-background-white-bis">
      <form action="/admin/{{ page }}" method="POST">
        <input type="hidden" name="id" value="{{ wotd_i[0] }}">
        <!-- WOTD AND ITS DEFINITION -->
        <div class="columns">
          <div class="column is-4">
            <input class="input is-large" type="text" name="wotd" lang="ja-jp" value="{{ wotd_i[1] }}" required autocomplete="off">
          </div>
          <div class="column is-8">
            <input class="input is-large" type="text" name="def" lang="ja-jp" value="{{ wotd_i[2] }}" required autocomplete="off">
          </div>
        </div>
        <!-- DATE AND BUTTONS -->
        <div class="columns">
          <div class="column is-2">
            <input class="input is-small" type="date" name="date" lang="ja-jp" value="{{ wotd_i[0] }}" required autocomplete="off">
          </div>
          <div class="column is-10 has-text-right">
            <div class="buttons is-right">
              <button class="button is-success" type="submit" name="update" value="update">
                <span class="icon is-small"><i class="fas fa-check"></i></span><span>Save</span>
              </button>
              <button class="button is-danger is-outlined" type="submit" name="del" value="del">
                <span>Delete</span><span class="icon is-small"><i class="fas fa-times"></i></span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    {% endfor %}
    {% endif %}
  </div>


<!--   <div class="level">
  Prev
  <div class="level-item has-text-centered">
    {% if page == 0 %}
      <a class="button" href="#" class="disable">&laquo; Prev</a>
    {% else %}
      <a class="button" href="/admin/{{ page - 1 }}">&laquo; Prev</a>
    {% endif %}
  </div>
  Next
  <div class="level-item has-text-centered">
    {% if artlen == delta %}
      <a class="button" href="/admin/{{ page + 1 }}">Next &raquo;</a>
    {% else %}
      <a class="button" href="#" class="disable">Next &raquo;</a>
    {% endif %}
  </div>
</div> -->
<br />
<!-- <footer class="footer is-transparent">
<div class="container">
  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous">Previous</a>
    <a class="pagination-next">Next page</a>
    <ul class="pagination-list">
      <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
      <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
      <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
    </ul>
  </nav>
</div>
</footer> -->


  <footer>
    {% if page == 0 %}
      <a href="#" class="disable">
        <span class="icon is-small"><i class="fas fa-arrow-left"></i></span><span>&nbsp;Prev</span>
      </a>
    {% else %}
      <a href="/admin/{{ page - 1 }}">
        <span class="icon is-small"><i class="fas fa-arrow-left"></i></span><span>&nbsp;Prev</span>
      </a>
    {% endif %}
    {% if artlen == delta %}
      <a href="/admin/{{ page + 1 }}">
        <span>Next&nbsp;</span><span class="icon is-small"><i class="fas fa-arrow-right"></i></span>
      </a>
    {% else %}
      <a href="#" class="disable">
        <span>Next&nbsp;</span><span class="icon is-small"><i class="fas fa-arrow-right"></i></span>
      </a>
    {% endif %}
  </footer>

</section>
{% endblock %}