{% extends "base.html" %}

{% block content %}
<section class="section">
  {% if artlen == 0 %}
  <article>
    <p style="text-align:center">
      You've reached the end of the road
    </p>
  </article>
  {% else %}
  {% for wotd_i in wotd %}
  <div class="container">
    <div class="box has-background-white-bis" lang="ja-jp">
        <h1 class="title is-size-3 has-text-centered">{{ wotd_i[1] }}</h1>
        <h2 class="subtitle is-size-4 has-text-centered">{{ wotd_i[2] }}</h2>
    </div>
  </div>
  <br />
  {% endfor %}
  {% endif %}
</section>
{% endblock %}

{% block footer %}
  <footer>
    {% if page == 0 %}
      <a href="#" class="disable">
        <span class="icon is-small"><i class="fas fa-arrow-left"></i></span><span>&nbsp;Prev</span>
      </a>
    {% else %}
      <a href="/page/{{ page - 1 }}">
        <span class="icon is-small"><i class="fas fa-arrow-left"></i></span><span>&nbsp;Prev</span>
      </a>
    {% endif %}
    {% if artlen == delta %}
      <a href="/page/{{ page + 1 }}">
        <span>Next&nbsp;</span><span class="icon is-small"><i class="fas fa-arrow-right"></i></span>
      </a>
    {% else %}
      <a href="#" class="disable">
        <span>Next&nbsp;</span><span class="icon is-small"><i class="fas fa-arrow-right"></i></span>
      </a>
    {% endif %}
  </footer>
{% endblock %}