/********
 * MAIN *
 *******/
body {
  /*background: url("background.png");*/
  /*background-repeat: repeat;*/
  min-height: 100vh;
  background-color: whitesmoke;
}

#banner {
  background: url("headers/header.jpg");
  background-repeat: no-repeat;
  background-color: #f4e7f1;
}

/*********************
* Japanese fonts and *
* their settings     *
*********************/
*:lang(ja-jp) {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: normal;
}

/***********
 * FOOTER  *
 **********/
/*footer {
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: rgba(54, 54, 54, 0.3);
}

footer a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 32px;
  background-color: #ddd;
  color: black;
}

footer a:hover {
  background-color: #fefefe;
}

footer a.disable {
  pointer-events: none;
  cursor: default;
}*/