article.admin {
  max-width: 90%;
  max-height: 100%;
}

input {
  width: 100%;
  box-sizing: border-box;
  /*padding: 5px 15px;*/
  background-color: #d3d3d3;
  border: 1px #FFFFFF;
  /*transition: ease-in-out, width .35s ease-in-out;*/
}

input:focus {
  background-color: #BEBEBE;
}

input:lang(ja-jp) {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: normal;
  /*line-height: 2em;*/
}


button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /*width: 100%;*/
}