article.flashcard {
  margin: 20px auto;
  width: 90%;
  height: 100%;
  max-width: 90%;
  max-height: 100%;
}

/* Do not show the button */
article.flashcard input {
  display: none;
}

article.flashcard section {
  padding: 200px 0;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 32px;
  font-weight: normal;
}

article.flashcard section.fronth {display: none;}
article.flashcard section.front {
  display: block;
  color: #BA1F53;
  background: #DDD;
}

article.flashcard section.backh {display: none;}
article.flashcard section.back {
  display: block;
  color: #DDD;
  background: #C85073;
}
