/********
 * MAIN *
 *******/
body {
  /* font-family: "Times New Roman", Times, serif; */
  /* font-family: monospace; */
  font-size: 18px;
  line-height: 1.6;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  background: url("headers/header.png");
  background-size: cover;
  /* background: url("headers/header3.png"); */
  /* background: url("headers/header6.jpg"); */
  /* background-size: auto; */
}

header h1 {
  color: #ffd1df;
  text-shadow: 1px 2px #000000;
  font-size: 2.5em;
  padding-left: 15px;
  font-family: "BebasNeue", sans-serif;
}


/************
 * NAV BAR  *
 ************/
nav {
  background-color: #333;
  overflow: hidden;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

nav a:hover {
  color: pink;
}

nav a:active {
  color: purple;
}

/***********
 * ARTICLE *
 **********/
article {
  margin: 10px auto;
  width: 90%;
  padding-top: 10px;
}

article h1, h1:lang(ja-jp) {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 3em;
  padding-left: 20px;
  background: #d3d3d3;
}

article time {
  font-size: 12px;
  float: right;
}

article p {
  white-space: pre-line;
}

footer {
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

footer a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 32px;
  background-color: #ddd;
  color: black;
}

footer a:hover {
  background-color: #fefefe;
}

footer a.disable {
  pointer-events: none;
  cursor: default;
}
