body {
    background-color: #f2f2f2;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 100px;
    border: 1px solid #000000;
    background: url("header.jpg");
    background-size: cover;
}

header h1 {
    color: #f2f2f2;
    text-shadow: 2px 2px #000000;
}

/*******
 * DIV *
 *******/
.div-container {
  margin: auto;
  width: 80%;
  border: 1px solid black;
  padding: 10px;
}

.table {
  display: table;
  width: auto;
}

.row {
  display: table-row;
  width: auto;
}

.column {
  float: left;
  display: table-column;
  width: 130px;
}
