<!-- MACROS -->
{% macro option(text) %}
{% if wotd.classification == text %}
  <option selected>{{ text }}</option>
{% else %}
  <option>{{ text }}</option>
{% endif %}
{% endmacro %}
<!-- Edit existing WOTD -->
<div class="modal" id="editModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <form action="/admin/edit" method="POST">
      <header class="modal-card-head">
        <p class="modal-card-title">Edit Word of the Day</p>
        <button class="delete" type="button" onclick="toggleEditModal()"></button>
      </header>
      <section class="modal-card-body">
        <input type="hidden" name="id" value="{{ wotd.uid }}">
        <!-- Japenese word -->
        <div class="field">
          <label class="label">Word of the day</label>
          <div class="control">
            <input class="input" type="text" name="wotd" lang="ja-jp" value="{{ wotd.wotd }}" required>
          </div>
        </div>
        <!-- Romaji -->
        <div class="field">
          <label class="label">Romaji</label>
          <div class="control">
            <input class="input" type="text" name="romaji" lang="ja-jp" value="{{ wotd.romaji }}" required>
          </div>
        </div>
        <!-- Definition -->
        <div class="field">
          <label class="label">Definition</label>
          <div class="control">
            <input class="input" type="text" name="def" lang="ja-jp" value="{{ wotd.defn }}" required>
          </div>
        </div>
        <!-- Category -->
        <div class="field">
          <label class="label">Category</label>
          <div class="select">
            <select name="classification">
              {% if wotd.classification == None %}
              <option selected>None</option>
              {% elif wotd.classification == "None" %}
              <option selected>None</option>
              {% endif %}
              {{ option("Adjective") }}
              {{ option("NA") }}
              {{ option("Noun") }}
              {{ option("Set Phrase") }}
              {{ option("Verb") }}
            </select>
          </div>
        </div>
        <!-- Date -->
        <div class="field">
          <label class="label">Date</label>
          <div class="control">
            <input class="input" type="date" name="date" lang="ja-jp" value="{{ wotd.date }}" required>
          </div>
        </div>
        <!-- Examples -->
        <div class="field">
          <label class="label">Examples or Trivia</label>
          <div class="control">
            <textarea class="textarea" placeholder="Textarea" name="example" lang="ja-jp">{{ wotd.example }}</textarea>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" type="submit">Save</button>
        <button class="button" type="button" onclick="toggleEditModal()">Cancel</button>
      </footer>
    </form>
  </div>
</div>

<!-- ADD NEW WOTD -->
<div class="modal" id="addModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <form action="/admin/add" method="POST">
      <header class="modal-card-head">
        <p class="modal-card-title">Add new Word of the Day</p>
        <button class="delete" type="button" onclick="toggleAddModal()"></button>
      </header>
      <section class="modal-card-body">
        <!-- Japenese word -->
        <div class="field">
          <label class="label">Word of the day</label>
          <div class="control">
            <input class="input" type="text" name="wotd" lang="ja-jp" placeholder="Word of the Day" required autocomplete="off">
          </div>
        </div>
        <!-- Romaji -->
        <div class="field">
          <label class="label">Romaji</label>
          <div class="control">
            <input class="input" type="text" name="romaji" lang="ja-jp" placeholder="Romaji" required autocomplete="off">
          </div>
        </div>
        <!-- Definition -->
        <div class="field">
          <label class="label">Definition</label>
          <div class="control">
            <input class="input" type="text" name="def" lang="ja-jp" placeholder="Definition" required autocomplete="off">
          </div>
        </div>
        <!-- Category -->
        <div class="field">
          <label class="label">Category</label>
          <div class="select">
            <select name="classification">
              <option selected>None</option>
              <option>Verb</option>
              <option>Noun</option>
              <option>Adjective</option>
              <option>Set Phrase</option>
            </select>
          </div>
        </div>
        <!-- Date -->
        <div class="field">
          <label class="label">Date</label>
          <div class="control">
            <input class="input" type="date" name="date" lang="ja-jp" value="{{ wotd.date }}" required>
          </div>
        </div>
        <!-- Examples -->
        <div class="field">
          <label class="label">Examples or Trivia</label>
          <div class="control">
            <textarea class="textarea" placeholder="Examples or Trivia" name="example" lang="ja-jp" autocomplete="off"></textarea>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" type="submit">Save</button>
        <button class="button" type="button" onclick="toggleAddModal()">Cancel</button>
      </footer>
    </form>
  </div>
</div>