{% extends "base.html" %}
{% block content %}
<section class="section">
  <!-- Content -->
  {% for iter in wotd %}
  <div class="container">
    <a href="/wotd/{{ iter.uid }}">
      <div class="box has-background-white-bis">
            <h1 class="title is-size-3 has-text-centered" lang="ja-jp">{{ iter.wotd }} [{{ iter.romaji }}]</h1>
            <h2 class="subtitle is-size-5 has-text-centered" lang="ja-jp">{{ iter.defn }}</h2>
      </div>
    </a>
  </div><br />
  {% endfor %}
</section>
{% endblock %}
{% block footer %}
  {% include "_pagination.html" %}
{% endblock %}