{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="box has-background-grey-lighter">
    <form action="/search" method="POST">
      <div class="field has-addons">
        <div class="control is-expanded">
          <input type="text" class="input" placeholder="Find a word of the day" name="search">
        </div>
        <div class="control">
          <button class="button is-info" type="submit"> Search </button>
        </div>
      </div>
    </form>
  </div><br />
  <!-- Content -->
  {% if wotd %}
    {% for iter in wotd %}
    <div class="container">
      <a href="/wotd/{{ iter.uid }}" target="_blank">
        <div class="box has-background-white-bis">
              <h1 class="title is-size-3 has-text-centered" lang="ja-jp">{{ iter.wotd }} [{{ iter.romaji }}]</h1>
              <h2 class="subtitle is-size-5 has-text-centered" lang="ja-jp">{{ iter.defn }}</h2>
        </div>
      </a>
    </div><br />
    {% endfor %}
  {% endif %}
</section>
{% endblock %}